# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.cursorrules
*.yaml
manifest_*/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover 